<p>My Page</p>
<div class="container">
    <div class="row">
      <div>
          <!-- <div class="jumbotron">
              <h2>Angular Reactive Form validation</h2>
              <form name="form" [formGroup]="form" (ngSubmit)="form.valid || onSubmit()">
                <div class="form-group" [ngClass]="{'has-error':((form.get('FirstName').touched ||
                form.get('FirstName').dirty) && form.get('FirstName').errors)}" >
                  <div class="row"> 
                    <div class="col-4">
              <label for="FirstName">First Name</label>
          </div> -->
       
      </div>   
</div>
